<%= form_with model: @student, class: 'w-50 mx-auto' do |form| %>
    <div class="mb-3 px-3">
        <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control', autofocus: true %>
    </div>

    <div class="mb-3 px-3">
        <%= form.label :grade, class: 'form-label' %>
        <%= form.select :grade, Student.grades, {} ,class: 'form-select' %>
    </div>

    <div class="mb-3 px-3">
        <%= form.label :quota, class: 'form-label' %>
        <%= form.number_field :quota, class: 'form-control' %>
    </div>

    <div class="mb-3 px-3">
        <%= form.label :entry_date, class: 'form-label' %>
        <%= form.date_field :entry_date, class: 'form-control', onFocus: 'this.showPicker()' %>
    </div>

    <div class="mb-3 px-3">
        <%= form.submit 'Create', class: 'btn btn-success' %>
        <%= link_to 'Cancel', students_path, class: 'btn btn-danger' %>
    </div>
<% end %>