<%= form_with model: @student do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :grade %>
        <%= form.select :grade, Student.grades %>
    </div>

    <div>
        <%= form.label :quota %>
        <%= form.number_field :quota %>
    </div>

    <div>
        <%= form.label :entry_date %>
        <%= form.date_field :entry_date %>
    </div>

    <%= form.submit %>
<% end %>