<%= form_with model: @student do |form| %>
    <div class="mb-3 px-3">
        <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3 px-3">
        <%= form.label :grade, class: 'form-label' %>
        <%= form.select :grade, Student.grades, {} ,class: 'form-select' %>
    </div>

    <div class="mb-3 px-3">
        <%= form.label :quota, class: 'form-label' %>
        <%= form.number_field :quota, class: 'form-control' %>
    </div>

    <div class="mb-3 px-3">
        <%= form.label :entry_date, class: 'form-label' %>
        <%= form.date_field :entry_date, class: 'form-control' %>
    </div>

    <%= form.submit 'Create', class: 'btn btn-success' %>
<% end %>