<h1><%= @student.name %></h1>
<div>
    <p>
        <strong>Grade: </strong> <%= @student.grade %><br>
        <strong>Birthday: </strong>1/1/2000<br>
        <strong>Start date: </strong>1/1/2000<br>
        <strong>Quota: </strong> 2$<br>
    </p>
</div>

<h2>Payments</h2>
<table>
    <thead>
        <th>Date</th>
        <th>Issuing Bank</th>
        <th>Reference</th>
        <th>Receiving Bank</th>
        <th>Amount</th>
        <th>Payment Support</th>
        <th>Verified</th>
        <th>Bill Status</th>
        <th>Fee Month</th>
    </thead>
    <tbody>
        <% @payments.each do |payment| %>
            <tr>
                <td><%= payment.payment_date %></td>
                <td><%= payment.issuing_bank %></td>
                <td><%= payment.reference %></td>
                <td><%= payment.receiving_bank %></td>
                <td><%= payment.amount %> Bs.S</td>
                <td><%= image_tag payment.payment_support, width: 100, height: 100 if payment.payment_support.attached? %></td>
                <td><input type="checkbox" disabled <%= "checked" if payment.verified %> ></td>
                <td><%= payment.bill.status if payment.bill %></td>
                <td><%= payment.bill.fee.month %></td>
            </tr>
        <% end %>
    </tbody>
</table>