<h1><%= t('.title') %></h1>

<div class="modal" tabindex="-1" id="imageModal" data-controller="image_modal" data-action="turbo:frame-load->image_modal#open">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= turbo_frame_tag "image_modal" %>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
      <th><%= t('.date') %></th>
      <th><%= t('.issuing_bank') %></th>
      <th><%= t('.reference') %></th>
      <th><%= t('.receiving_bank') %></th>
      <th><%= t('.amount') %></th>
      <th><%= t('.payment_support') %></th>
      <th><%= t('.verified') %></th>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr id="payment_<%= payment.id %>">
        <td><%= payment.payment_date %></td>
        <td><%= payment.issuing_bank %></td>
        <td><%= payment.reference %></td>
        <td><%= payment.receiving_bank %></td>
        <td><%= payment.amount %> Bs.S</td>
        <td>
          <%= link_to support_modal_path(payment), data: {turbo_frame: "image_modal"} do %>
            <%= image_tag payment.payment_support, width: 30, height: 30 if payment.payment_support.attached? %>
        <% end %>
        </td>
        <td><%= link_to t('.verify'), verify_payment_path(payment), class: 'btn btn-sm btn-success', data: { turbo_method: :post } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

