<h3><%= @student.name %></h3>
<%= form_with model: @bill, url: bills_path  do |form| %>
    <div>
        <%= form.label :payment_id %>
        <%= form.text_field :payment_id, { value: @payment.id } %>
    </div>

    <div>
        <%= form.label :bill_date %>
        <%= form.date_field :bill_date %>
    </div>

    <div>
        <%= form.label :delivered_date %>
        <%= form.date_field :delivered_date %>
    </div>

    <div>
        <%= form.label :bill_reference %>
        <%= form.text_field :bill_reference %>
    </div>

    <div>
        <%= form.label :bill_description %>
        <%= form.text_field :bill_description %>
    </div>

    <%= form.fields_for :fee, include_id: false do |form_fee| %>
        <div>
            <%= form_fee.label :student_id %>
            <%= form_fee.text_field :student_id, value: @student.id %>
        </div>
        
        <div>
            <%= form_fee.label :month %>
            <%= form_fee.select :month, Fee.months.keys.map { |key| [key.to_s, key] } %>
        </div>
    <% end %>

    <div>
        <%= form.submit 'Register bill' %>
    </div>
<% end %>