<div class="container d-flex justify-content-between align-items-center py-2">
  <h1><%= t('.title') %></h1>
</div>
<table class="table table-hover">
  <thead>
      <th><%= t('.date') %></th>
      <th><%= t('.issuing_bank') %></th>
      <th><%= t('.reference') %></th>
      <th><%= t('.receiving_bank') %></th>
      <th><%= t('.amount') %></th>
      <th><%= t('.payment_support') %></th>
  </thead>
  <tbody id="payments_table">
      <%= render partial: 'payment', collection: @payments %>
  </tbody>
</table>