<tr id="payment_<%= payment.id %>">
    <td><%= payment.student.name %></td>
    <td><%= payment.payment_date %></td>
    <td><%= payment.issuing_bank %></td>
    <td><%= payment.reference %></td>
    <td><%= payment.receiving_bank %></td>
    <td><%= payment.amount %> Bs.S</td>
    <td>
        <%= link_to support_modal_path(payment), data: {turbo_frame: "image_modal"} do %>
            <%= image_tag payment.payment_support, width: 30, height: 30 if payment.payment_support.attached? %>
        <% end %>
    </td>
    <td><input type="checkbox" disabled <%= "checked" if payment.verified %> ></td>
</tr>
