<div class="container d-flex justify-content-between align-items-center py-2">
    <h1>Payments List</h1>
    <span class="btn-group">
        <%= link_to 'New payment', new_payment_path, class: 'btn btn-success', data: { turbo_frame: 'new_payment', bs_toggle: 'modal', bs_target: '#exampleModal' } %>
        <%= link_to 'Verify', payments_verify_path, class: 'btn btn-primary' %>
    </span>
</div>
<div class="modal fade" id="paymentModal" data-controller="new_payment">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <%= turbo_frame_tag "new_payment", target: "_top" %>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <%= turbo_frame_tag "new_payment", target: "_top" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<table class="table table-hover">
    <thead>
        <th>Student</th>
        <th>Date</th>
        <th>Issuing Bank</th>
        <th>Reference</th>
        <th>Receiving Bank</th>
        <th>Amount</th>
        <th>Payment Support</th>
        <th>Verified</th>
    </thead>
    <tbody id="payments_table">
        <%= render partial: 'payment', collection: @payments %>
    </tbody>
</table>
