<div class="container d-flex justify-content-between align-items-center py-2">
    <h1><%= t('.title') %></h1>
    <span class="btn-group">
        <%= link_to t('.new'), new_payment_path, class: 'btn btn-success', data: { turbo_frame: 'new_payment' } %>
        <%= link_to t('.verify'), payments_verify_path, class: 'btn btn-primary' %>
    </span>
</div>

<div class="modal" tabindex="-1" id="paymentModal" data-controller="modal" data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= turbo_frame_tag "new_payment" %>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="imageModal" data-controller="modal" data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= turbo_frame_tag "image_modal" %>
    </div>
  </div>
</div>

<table class="table table-hover">
    <thead>
        <th><%= t('.student') %></th>
        <th><%= t('.date') %></th>
        <th><%= t('.issuing_bank') %></th>
        <th><%= t('.reference') %></th>
        <th><%= t('.receiving_bank') %></th>
        <th><%= t('.amount') %></th>
        <th><%= t('.payment_support') %></th>
        <th><%= t('.verified') %></th>
    </thead>
    <tbody id="payments_table">
        <%= render partial: 'payment', collection: @payments %>
    </tbody>
</table>
