<%= turbo_frame_tag "new_payment" do %>
    <%= form_with model: @payment do |form| %>
        <div>
            <%= form.label :payment_date %>
            <%= form.date_field :payment_date %>
        </div>

        <div>
            <%= form.label :school_term %>
            <%= form.select :school_term, SchoolTerm.all.collect { |st| ["#{st.start_date.year}-#{st.end_date.year}", st.id] } %>
        </div>

        <div>
            <%= form.label :payment_type %>
            <%= form.select :payment_type, Payment.payment_types %>
        </div>

        <div>
            <%= form.label :issuing_bank %>
            <%= form.select :issuing_bank, issuing_banks %>
        </div>

        <div>
            <%= form.label :receiving_bank %>
            <%= form.select :receiving_bank, receiving_banks %>
        </div>

        <div>
            <%= form.label :reference %>
            <%= form.text_field :reference %>
        </div>

        <div>
            <%= form.label :amount %>
            <%= form.number_field :amount, step: 0.01 %>
        </div>

        <div>
            <%= form.label :rate %>
            <%= form.number_field :rate, step: 0.01 %>
        </div>

        <div>
            <%= form.label :payment_support %>
            <%= form.file_field :payment_support %>
        </div>

        <div>
            <%= form.label :student_id %>
            <%= form.collection_select :student_id, Student.all.order(name: :asc), :id, :name, prompt: true %>
        </div>

        <div>
            <%= form.submit 'Register payment' %>
        </div>
    <% end %>
<% end %>